<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base1::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section data-bs-version="5.1"
		class="features21 cid-t0W6lWXvZs mbr-parallax-background"
		id="features22-11">
		<div class="mbr-overlay"
			style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					<div class="item mbr-flex">
						<div class="icon-box w-100">
							<span class="step-number mbr-fonts-style display-1">#blog</span>
						</div>
						<div class="text-box">
							<h4
								class="icon-title card-title mbr-black mbr-fonts-style display-2">
								<strong>#blog</strong>
							</h4>
							<h5 class="icon-text mbr-black mbr-fonts-style display-7">Arcu
								non sodales neque sodales ut etiam sit amet. Sit amet luctus
								venenatis lectus magna.&nbsp;</h5>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="team2 cid-t0W7aJL8iD"
		xmlns="http://www.w3.org/1999/html" id="team2-18">
		<div class="container">
			<div class="card">
				<div class="card-wrapper">
					<div class="row align-items-center">
						<div class="col-12 col-md-4">
							<div class="image-wrapper">
								<img src="../assets/images/images-1-311x162.png"
									alt="Mobirise Website Builder">
							</div>
						</div>
						<div class="col-12 col-md">
							<div class="card-box">
								<h5 class="card-title mbr-fonts-style m-0 mb-3 display-5">
									<strong>John Smith</strong>
								</h5>
								<h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
									<strong>Programmer</strong>
								</h6>
								<p class="mbr-text mbr-fonts-style display-7">Arcu non
									sodales neque sodales ut etiam sit amet. Sit amet luctus
									venenatis lectus magna. Ullamcorper morbi tincidunt ornare
									massa eget egestas purus viverra. Consectetur libero id
									faucibus nisl tincidunt eget nullam.</p>
								<div class="social-row display-7">
									<div class="soc-item">
										<a href="https://www.facebook.com/Mobirise/" target="_blank">
											<span class="mbr-iconfont socicon socicon-facebook"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://twitter.com/mobirise" target="_blank"> <span
											class="mbr-iconfont socicon socicon-twitter"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://instagram.com/mobirise" target="_blank">
											<span class="mbr-iconfont socicon socicon-instagram"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://www.youtube.com/c/mobirise" target="_blank">
											<span class="mbr-iconfont socicon socicon-youtube"></span>
										</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-wrapper">
					<div class="row align-items-center">
						<div class="col-12 col-md-4">
							<div class="image-wrapper">
								<img src="../assets/images/images-1df-294x171.png"
									alt="Mobirise Website Builder">
							</div>
						</div>
						<div class="col-12 col-md">
							<div class="card-box">
								<h5 class="card-title mbr-fonts-style m-0 mb-3 display-5">
									<strong>Ann Brown</strong>
								</h5>
								<h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
									<strong>Manager</strong>
								</h6>
								<p class="mbr-text mbr-fonts-style display-7">Arcu non
									sodales neque sodales ut etiam sit amet. Sit amet luctus
									venenatis lectus magna. Ullamcorper morbi tincidunt ornare
									massa eget egestas purus viverra. Consectetur libero id
									faucibus nisl tincidunt eget nullam.</p>
								<div class="social-row display-7">
									<div class="soc-item">
										<a href="https://www.facebook.com/Mobirise/" target="_blank">
											<span class="mbr-iconfont socicon socicon-facebook"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://twitter.com/mobirise" target="_blank"> <span
											class="mbr-iconfont socicon socicon-twitter"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://instagram.com/mobirise" target="_blank">
											<span class="mbr-iconfont socicon socicon-instagram"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://www.youtube.com/c/mobirise" target="_blank">
											<span class="mbr-iconfont socicon socicon-youtube"></span>
										</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-wrapper">
					<div class="row align-items-center">
						<div class="col-12 col-md-4">
							<div class="image-wrapper">
								<img src="../assets/images/download-1-259x194.png"
									alt="Mobirise Website Builder">
							</div>
						</div>
						<div class="col-12 col-md">
							<div class="card-box">
								<h5 class="card-title mbr-fonts-style m-0 mb-3 display-5">
									<strong>Jessica Doe</strong>
								</h5>
								<h6 class="card-subtitle mbr-fonts-style mb-3 display-4">
									<strong>Analyst</strong>
								</h6>
								<p class="mbr-text mbr-fonts-style display-7">Arcu non
									sodales neque sodales ut etiam sit amet. Sit amet luctus
									venenatis lectus magna. Ullamcorper morbi tincidunt ornare
									massa eget egestas purus viverra. Consectetur libero id
									faucibus nisl tincidunt eget nullam.</p>
								<div class="social-row display-7">
									<div class="soc-item">
										<a href="https://www.facebook.com/Mobirise/" target="_blank">
											<span class="mbr-iconfont socicon socicon-facebook"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://twitter.com/mobirise" target="_blank"> <span
											class="mbr-iconfont socicon socicon-twitter"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://instagram.com/mobirise" target="_blank">
											<span class="mbr-iconfont socicon socicon-instagram"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://www.youtube.com/c/mobirise" target="_blank">
											<span class="mbr-iconfont socicon socicon-youtube"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled"><a class="page-link" href="#"
						tabindex="-1">Previous</a></li>
					<li class="page-item"><a class="page-link" href="#"
						style="color: red">1</a></li>
					<li class="page-item"><a class="page-link" href="#"
						style="color: red">2</a></li>
					<li class="page-item"><a class="page-link" href="#"
						style="color: red">3</a></li>
					<li class="page-item"><a class="page-link" href="#"
						style="color: red">Next</a></li>
				</ul>
			</nav>ss
		</div>
	</section>

	<section data-bs-version="5.1" class="form9 cid-t0W6lXXT6f"
		id="form9-13">

		<div class="mbr-overlay"></div>
		<div class="container">
			<div class="mbr-section-head">
				<h3
					class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Subscribe to us</strong>
				</h3>

			</div>
			<div class="row justify-content-center mt-4">
				<div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
					<form action="https://mobirise.eu/" method="POST"
						class="mbr-form form-with-styler mx-auto"
						data-form-title="Form Name">
						<input type="hidden" name="email" data-form-email="true"
							value="zZR8UbGnYEpURjQ52BUJrYpBMHkMk8H9UANp+Oy+pbZ4WN2AHFXIp3tibmySA2ozupzc/A9BxZY5VR/nhLkEJhDTGNVhVT5FW2Og5pY9gCQFNt6shx79aBb/z2FIrZd5">
						<div class="row">
							<div hidden="hidden" data-form-alert=""
								class="alert alert-success col-12">Thanks for filling out
								the form!</div>
							<div hidden="hidden" data-form-alert-danger=""
								class="alert alert-danger col-12">Oops...! some problem!</div>
						</div>
						<div class="dragArea row">
							<div class="col-lg-12">
								<p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
									Exclusive offers in your inbox</p>
							</div>
							<div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3"
								data-for="name">
								<input type="text" name="name" placeholder="Name"
									data-form-field="name" class="form-control" value=""
									id="name-form9-13">
							</div>
							<div data-for="email"
								class="col-lg-4 col-md-12 col-sm-12 form-group mb-3">
								<input type="email" name="email" placeholder="Email"
									data-form-field="email" class="form-control" value=""
									id="email-form9-13">
							</div>
							<div
								class="col-lg-4 col-md-12 col-sm-12 mbr-section-btn align-center">
								<button type="submit" class="btn btn-primary display-4">Submit</button>
							</div>
						</div>
						<span class="gdpr-block"> <label> <span
								class="textGDPR display-7" style="color: #a7a7a7"><input
									type="checkbox" name="gdpr" id="gdpr-form9-13" required="">By
									continuing you agree to our <a
									style="color: #149dcc; text-decoration: none;"
									href="terms.html">Terms of Service</a> and <a
									style="color: #149dcc; text-decoration: none;"
									href="policy.html">Privacy Policy</a>.</span>
						</label>
						</span>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="content6 cid-t0W6lYgLRo"
		id="content6-14">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<hr class="line">
					<p class="mbr-text align-center mbr-fonts-style my-4 display-5">Arcu
						non sodales neque sodales ut etiam sit amet. Sit amet luctus
						venenatis lectus magna.&nbsp;</p>
					<hr class="line">
				</div>
			</div>
		</div>
	</section>
</body>
</html>