<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base1::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section data-bs-version="5.1"
		class="features21 cid-t0W90Dafue mbr-parallax-background"
		id="features22-1a">
		<div class="mbr-overlay"
			style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					<div class="item mbr-flex">
						<div class="icon-box w-100">
							<span class="step-number mbr-fonts-style display-1">#contacts</span>
						</div>
						<div class="text-box">
							<h4
								class="icon-title card-title mbr-black mbr-fonts-style display-2">Contacts</h4>
							<h5 class="icon-text mbr-black mbr-fonts-style display-7">Arcu
								non sodales neque sodales ut etiam sit amet. Sit amet luctus
								venenatis lectus magna.&nbsp;</h5>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="contacts2 cid-t0W9U3h9so"
		id="contacts2-1h">
		<!---->
		<div class="container">
			<div class="mbr-section-head">
				<h3
					class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Contacts</strong>
				</h3>

			</div>
			<div class="row justify-content-center mt-4">
				<div class="card col-12 col-md-6">
					<div class="card-wrapper">
						<div class="image-wrapper">
							<span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
						</div>
						<div class="text-wrapper">
							<h6 class="card-title mbr-fonts-style mb-1 display-5">
								<strong>Phone</strong>
							</h6>
							<p class="mbr-text mbr-fonts-style display-7">
								<a href="tel:+12345678910" class="text-primary">0 (800) 123
									45 67</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card col-12 col-md-6">
					<div class="card-wrapper">
						<div class="image-wrapper">
							<span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
						</div>
						<div class="text-wrapper">
							<h6 class="card-title mbr-fonts-style mb-1 display-5">
								<strong>Email</strong>
							</h6>
							<p class="mbr-text mbr-fonts-style display-7">
								<a href="mailto:info@site.com" class="text-primary">info@site.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card col-12 col-md-6">
					<div class="card-wrapper">
						<div class="image-wrapper">
							<span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
						</div>
						<div class="text-wrapper">
							<h6 class="card-title mbr-fonts-style mb-1 display-5">
								<strong>Address</strong>
							</h6>
							<p class="mbr-text mbr-fonts-style display-7">4100 Ross
								Street, Okawville, IL</p>
						</div>
					</div>
				</div>
				<div class="card col-12 col-md-6">
					<div class="card-wrapper">
						<div class="image-wrapper">
							<span class="mbr-iconfont mobi-mbri-bulleted-list mobi-mbri"></span>
						</div>
						<div class="text-wrapper">
							<h6 class="card-title mbr-fonts-style mb-1 display-5">
								<strong>Working Hours</strong>
							</h6>
							<p class="mbr-text mbr-fonts-style display-7">9:00 - 18:00</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="map1 cid-t0W9V0N6Sa" id="map1-1i">


		<div class="container">
			<div class="mbr-section-head mb-4">
				<h3
					class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Map</strong>
				</h3>

			</div>
			<div class="google-map">
				<iframe frameborder="0" style="border: 0"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCNveGQ9bfpKFwWzQLLftrR9hNiHwdqQG8&amp;q=350 5th Ave, New York, NY 10118"
					allowfullscreen=""></iframe>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="contacts4 cid-t0W9Xly6fj"
		id="contacts4-1j">





		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="text-content col-12 col-md-6">
					<h2 class="mbr-section-title mbr-fonts-style display-2">
						<strong>Follow Us</strong>
					</h2>
					<p class="mbr-text mbr-fonts-style display-7">Arcu non sodales
						neque sodales ut etiam sit amet. Sit amet luctus venenatis lectus
						magna. Ullamcorper morbi tincidunt ornare massa eget egestas purus
						viverra. Consectetur libero id faucibus nisl tincidunt eget
						nullam. Massa enim nec dui nunc mattis enim ut.</p>
				</div>
				<div
					class="icons d-flex align-items-center col-12 col-md-6 justify-content-end mt-md-0 mt-2 flex-wrap">
					<a href="https://twitter.com/mobirise" target="_blank"> <span
						class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
					</a> <a href="https://www.facebook.com/pages/Mobirise/1616226671953247"
						target="_blank"> <span
						class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
					</a> <a href="https://www.youtube.com/c/mobirise" target="_blank">
						<span
						class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
					</a> <a href="https://instagram.com/mobirise" target="_blank"> <span
						class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
					</a>
				</div>
			</div>
		</div>

	</section>

	<section data-bs-version="5.1" class="form9 cid-t0W90EF2WZ"
		id="form9-1c">

		<div class="mbr-overlay"></div>
		<div class="container">
			<div class="mbr-section-head">
				<h3
					class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Subscribe to us</strong>
				</h3>

			</div>
			<div class="row justify-content-center mt-4">
				<div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
					<form action="https://mobirise.eu/" method="POST"
						class="mbr-form form-with-styler mx-auto"
						data-form-title="Form Name">
						<input type="hidden" name="email" data-form-email="true"
							value="yLge3Rg3HLDNvjMXUghEel8GzW13YzL56xUNrtknGDChKR6v1Rcbah2MrfBVvd9wBCTzKmiBgyJVeKaBQGWsAw778kX0iQmWvRxbCSlWGIOZQbZhEDR1mhRgzlP1SrFx">
						<div class="row">
							<div hidden="hidden" data-form-alert=""
								class="alert alert-success col-12">Thanks for filling out
								the form!</div>
							<div hidden="hidden" data-form-alert-danger=""
								class="alert alert-danger col-12">Oops...! some problem!</div>
						</div>
						<div class="dragArea row">
							<div class="col-lg-12">
								<p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
									Exclusive offers in your inbox</p>
							</div>
							<div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3"
								data-for="name">
								<input type="text" name="name" placeholder="Name"
									data-form-field="name" class="form-control" value=""
									id="name-form9-1c">
							</div>
							<div data-for="email"
								class="col-lg-4 col-md-12 col-sm-12 form-group mb-3">
								<input type="email" name="email" placeholder="Email"
									data-form-field="email" class="form-control" value=""
									id="email-form9-1c">
							</div>
							<div
								class="col-lg-4 col-md-12 col-sm-12 mbr-section-btn align-center">
								<button type="submit" class="btn btn-primary display-4">Submit</button>
							</div>
						</div>
						<span class="gdpr-block"> <label> <span
								class="textGDPR display-7" style="color: #a7a7a7"><input
									type="checkbox" name="gdpr" id="gdpr-form9-1c" required="">By
									continuing you agree to our <a
									style="color: #149dcc; text-decoration: none;"
									href="terms.html">Terms of Service</a> and <a
									style="color: #149dcc; text-decoration: none;"
									href="policy.html">Privacy Policy</a>.</span>
						</label>
						</span>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="content6 cid-t0W90EVGSR"
		id="content6-1d">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<hr class="line">
					<p class="mbr-text align-center mbr-fonts-style my-4 display-5">Arcu
						non sodales neque sodales ut etiam sit amet. Sit amet luctus
						venenatis lectus magna.</p>
					<hr class="line">
				</div>
			</div>
		</div>
	</section>
</body>
</html>