<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="officer/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<section data-bs-version="5.1"
		class="header1 cid-t0Uh09dBsR mbr-fullscreen mbr-parallax-background"
		id="header1-1">
		<div class="mbr-overlay"
			style="opacity: 0.2; background-color: rgb(255, 181, 181);"></div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-5">
					<h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
						<strong>Don't Be </strong><span style="font-size: 73.6px;"><strong>Afraid</strong></span><strong>&nbsp;Just
							Report Us.</strong><br>
					</h1>

					<p class="mbr-text mbr-fonts-style display-7">CyberFirstaid is
						providing solution of online Cyber Crime related Frauds and
						Complaints.</p>
					<div class="mbr-section-btn mt-3">
						<a class="btn btn-secondary display-4" href="logout">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="clients2 cid-t0UwzcPMT0"
		id="clients2-e">
		<div class="container">
			<div class="row justify-content-center">
				<div class="card col-12 col-md-6 col-lg-4">
					<div class="card-wrapper">
						<div class="img-wrapper">
							<img src="../assets/images/download-198x255.png"
								alt="Mobirise Website Builder">
						</div>
						<div class="card-box align-center">
							<h5 class="card-title mbr-fonts-style mb-3 display-5">
								<strong>Gujarat Police</strong>
							</h5>
							<p class="mbr-text mbr-fonts-style mb-4 display-4">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna
								aliqua.&nbsp;<br>Ut enim ad minim veniam, quis nostrud exe.<br>
							</p>
							<div class="mbr-section-btn mt-3">
								<a class="btn btn-primary-outline display-4"
									href="https://mobiri.se">Learn More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card col-12 col-md-6 col-lg-4">
					<div class="card-wrapper">
						<div class="img-wrapper">
							<img src="../assets/images/images-1-225x225.png"
								alt="Mobirise Website Builder">
						</div>
						<div class="card-box align-center">

							<h5 class="card-title mbr-fonts-style mb-3 display-5">
								<strong>Delhi Police</strong>
							</h5>
							<p class="mbr-text mbr-fonts-style mb-4 display-4">Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat.</p>
							<div class="mbr-section-btn mt-3">
								<a class="btn btn-primary-outline display-4"
									href="https://mobiri.se">Learn More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card col-12 col-md-6 col-lg-4">
					<div class="card-wrapper">
						<div class="img-wrapper">
							<img src="../assets/images/download-1-225x225.png"
								alt="Mobirise Website Builder">
						</div>
						<div class="card-box align-center">

							<h5 class="card-title mbr-fonts-style mb-3 display-5">
								<strong>Haryana Police</strong>
							</h5>
							<p class="mbr-text mbr-fonts-style mb-4 display-4">Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat.</p>
							<div class="mbr-section-btn mt-3">
								<a class="btn btn-primary-outline display-4"
									href="https://mobiri.se">Learn More</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="content7 cid-t0Utf68wNC"
		id="content7-5">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
					<blockquote>
						<h5 class="mbr-section-title mbr-fonts-style mb-2 display-7">
							<strong>How We Work?</strong>
						</h5>
						<p class="mbr-text mbr-fonts-style display-4">Lorem ipsum
							dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
							minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</blockquote>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1"
		class="features23 cid-t0UTjdP1QV mbr-parallax-background"
		id="features24-f">
		<div class="mbr-overlay"
			style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="card-wrapper mb-4">
						<div class="card-box align-center">
							<h4 class="card-title mbr-fonts-style mb-4 display-2">
								<strong>Steps</strong>
							</h4>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<div class="item first mbr-flex p-4">
						<div class="icon-wrap w-100">
							<div class="icon-box">
								<span class="step-number mbr-fonts-style display-5">1</span>
							</div>
						</div>

						<div class="text-box">
							<h4
								class="icon-title card-title mbr-black mbr-fonts-style display-7">
								<strong>Specification</strong>
							</h4>
							<h5 class="mbr-text mbr-black mbr-fonts-style display-4">Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
						</div>
					</div>
					<!-- <span mbr-icon class="mbr-iconfont mobi-mbri-devices mobi-mbri"></span> -->
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<div class="item mbr-flex p-4">
						<div class="icon-wrap w-100">
							<div class="icon-box">
								<span class="step-number mbr-fonts-style display-5">2</span>
							</div>
						</div>
						<div class="text-box">
							<h4
								class="icon-title card-title mbr-black mbr-fonts-style display-7">
								<strong>Project Planning</strong>
							</h4>
							<h5 class="mbr-text mbr-black mbr-fonts-style display-4">Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<div class="item mbr-flex p-4">
						<div class="icon-wrap w-100">
							<div class="icon-box">
								<span class="step-number mbr-fonts-style display-5">3</span>
							</div>
						</div>
						<div class="text-box">
							<h4
								class="icon-title card-title mbr-black mbr-fonts-style display-7">
								<strong>Deployment</strong>
							</h4>
							<h5 class="mbr-text mbr-black mbr-fonts-style display-4">Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="content2 cid-t0Uwfwgnqo"
		id="content2-d">
		<div class="container">
			<div class="mbr-section-head">
				<h4
					class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Our Blog</strong>
				</h4>
				<h5
					class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Read
					the recent blog posts about Cyber Awerness</h5>
			</div>
			<div class="row mt-4">
				<div class="item features-image сol-12 col-md-6 col-lg-4">
					<div class="item-wrapper">
						<div class="item-img">
							<img src="../assets/images/images-1-311x162.png"
								alt="Mobirise Website Builder" title="">
						</div>
						<div class="item-content">
							<h5 class="item-title mbr-fonts-style display-5">
								<a href="page3.html#top" class="text-primary">Easy and
									Simple</a>
							</h5>
							<h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
								<strong>John Smith</strong><em> 10-10-2025</em>
							</h6>
							<p class="mbr-text mbr-fonts-style mt-3 display-7">Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div class="mbr-section-btn item-footer mt-2">
							<a href="page3.html#top"
								class="btn item-btn btn-primary display-7" target="_blank">Read
								More &gt;</a>
						</div>
					</div>
				</div>
				<div class="item features-image сol-12 col-md-6 col-lg-4">
					<div class="item-wrapper">
						<div class="item-img">
							<img src="../assets/images/download-1-259x194.png"
								alt="Mobirise Website Builder" title="">
						</div>
						<div class="item-content">
							<h5 class="item-title mbr-fonts-style display-5">
								<a href="page3.html#top" class="text-primary">5 Cyber
									Security Tips</a>
							</h5>
							<h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
								<strong>Ann Brown</strong><em>&nbsp;09-09-2025</em>
							</h6>
							<p class="mbr-text mbr-fonts-style mt-3 display-7">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
							</p>
						</div>
						<div class="mbr-section-btn item-footer mt-2">
							<a href="page3.html#top"
								class="btn btn-primary item-btn display-7" target="_blank">Read
								More &gt;</a>
						</div>
					</div>
				</div>
				<div class="item features-image сol-12 col-md-6 col-lg-4">
					<div class="item-wrapper">
						<div class="item-img">
							<img src="../assets/images/images-1df-294x171.png"
								alt="Mobirise Website Builder" title="">
						</div>
						<div class="item-content">
							<h5 class="item-title mbr-fonts-style display-5">
								<a href="page3.html#top" class="text-primary">Boost Your
									Rank</a>
							</h5>
							<h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
								<strong>Jessica Doe </strong><em>08-08-2025</em>
							</h6>
							<p class="mbr-text mbr-fonts-style mt-3 display-7">Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
						<div class="mbr-section-btn item-footer mt-2">
							<a href="page3.html#top"
								class="btn btn-primary item-btn display-7" target="_blank">Read
								More &gt;</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section data-bs-version="5.1"
		class="info3 cid-t0WayjLEeG mbr-parallax-background" id="info3-1k">
		<div class="mbr-overlay"
			style="opacity: 0; background-color: rgb(250, 250, 250);"></div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="card col-12 col-lg-10">
					<div class="card-wrapper">
						<div class="card-box align-center">
							<h4
								class="card-title mbr-fonts-style align-center mb-4 display-1">
								<strong>Donation</strong>
							</h4>
							<p class="mbr-text mbr-fonts-style mb-4 display-7"></p>
							<p>
								Arcu non sodales neque sodales ut etiam sit amet. Sit amet
								luctus venenatis lectus magna.&nbsp;<br>
							</p>
							<p></p>
							<div class="mbr-section-btn mt-3">
								<a class="btn btn-primary display-4" href="https://mobiri.se">Donation</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="testimonials2 cid-t0UtPNnJB3"
		id="testimonials2-7">
		<div class="container">
			<h3
				class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
				<strong>Testimonials</strong>
			</h3>
			<div class="row justify-content-center">
				<div class="card col-12 col-md-6">
					<p class="mbr-text mbr-fonts-style mb-4 display-7">Arcu non
						sodales neque sodales ut etiam sit amet. Sit amet luctus venenatis
						lectus magna. Ullamcorper morbi tincidunt ornare massa eget
						egestas purus viverra. Consectetur libero id faucibus nisl
						tincidunt eget nullam.</p>
					<div class="d-flex mb-md-0 mb-4">
						<div class="image-wrapper">
							<img src="../assets/images/download-1-100x67.png"
								alt="Mobirise Website Builder">
						</div>
						<div class="text-wrapper">
							<p class="name mbr-fonts-style mb-1 display-4">
								<strong>Patel Smith</strong>
							</p>
							<p class="position mbr-fonts-style display-4">
								<strong>IPS Officer</strong>
							</p>
						</div>
					</div>
				</div>
				<div class="card col-12 col-md-6">
					<p class="mbr-text mbr-fonts-style mb-4 display-7">Arcu non
						sodales neque sodales ut etiam sit amet. Sit amet luctus venenatis
						lectus magna. Ullamcorper morbi tincidunt ornare massa eget
						egestas purus viverra. Consectetur libero id faucibus nisl
						tincidunt eget nullam.</p>
					<div class="d-flex mb-md-0 mb-4">
						<div class="image-wrapper">
							<img src="../assets/images/images-1-100x100.png"
								alt="Mobirise Website Builder">
						</div>
						<div class="text-wrapper">
							<p class="name mbr-fonts-style mb-1 display-4">
								<strong>Mrs. Geeta</strong>
							</p>
							<p class="position mbr-fonts-style display-4">
								<strong>DGP Commisnor</strong>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1"
		class="form2 cid-t0Vvn9Mgmx mbr-parallax-background" id="form2-x">
		<div class="mbr-overlay"
			style="opacity: 0.3; background-color: rgb(255, 255, 255);"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
					<form action="https://mobirise.eu/" method="POST"
						class="mbr-form form-with-styler" data-form-title="Form Name">
						<input type="hidden" name="email" data-form-email="true"
							value="gpeG72BENNRW/Q4h/V/A7MJJevQh3OUK0rEowg800eH0w1LWsHmgNmbkqtv2K28YF19mxWteiD9MsNFLDvbXjvPfPiB+RbWNmMj7y/C/uAdcSPkngfj6ZDQyCOnUw1wP">
						<div class="row">
							<div hidden="hidden" data-form-alert=""
								class="alert alert-success col-12">Thanks for filling out
								the form!</div>
							<div hidden="hidden" data-form-alert-danger=""
								class="alert alert-danger col-12">Oops...! some problem!</div>
						</div>
						<div class="dragArea row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h1
									class="mbr-section-title mb-4 align-center mbr-fonts-style display-2">
									<strong>Suscribe Our Newsletter!</strong>
								</h1>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12">
								<p class="mbr-text mbr-fonts-style mb-5 align-center display-7">Fill
									the form below to get started.</p>
							</div>
							<div class="col-lg col-md col-12 form-group mb-3"
								data-for="email">
								<input type="text" name="name" placeholder="Name"
									data-form-field="name" class="form-control" id="name-form2-x">
							</div>
							<div class="col-lg col-md col-12 form-group mb-3"
								data-for="email">
								<input type="email" name="email" placeholder="Email"
									data-form-field="email" class="form-control" id="email-form2-x">
							</div>
							<div class="mbr-section-btn col-md-auto col">
								<button type="submit" class="btn btn-warning display-4">Start
									Now!</button>
							</div>
						</div>
						<span class="gdpr-block"> <label> <span
								class="textGDPR display-7" style="color: #a7a7a7"><input
									type="checkbox" name="gdpr" id="gdpr-form2-x" required="">By
									continuing you agree to our <a
									style="color: #149dcc; text-decoration: none;"
									href="terms.html">Terms of Service</a> and <a
									style="color: #149dcc; text-decoration: none;"
									href="policy.html">Privacy Policy</a>.</span>
						</label>
						</span>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="content17 cid-t0UvYkkJe3"
		id="content17-c">





		<div class="container">

			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
					<div class="section-head align-center mb-4">
						<h3 class="mbr-section-title mb-0 mbr-fonts-style display-2">
							<strong>Toggle FAQ</strong>
						</h3>

					</div>

					<div id="bootstrap-toggle"
						class="toggle-panel accordionStyles tab-content">
						<div class="card mb-3">
							<div class="card-header" role="tab" id="headingOne">
								<a role="button" class="collapsed panel-title text-black"
									data-toggle="collapse" data-bs-toggle="collapse" data-core=""
									href="#collapse1_10" aria-expanded="false"
									aria-controls="collapse1">
									<h6 class="panel-title-edit mbr-fonts-style mb-0 display-7">
										<strong>How to register fir?</strong>
									</h6> <span class="sign mbr-iconfont mbri-arrow-down"></span>
								</a>
							</div>
							<div id="collapse1_10" class="panel-collapse noScroll collapse"
								role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7">Arcu non
										sodales neque sodales ut etiam sit amet. Sit amet luctus
										venenatis lectus magna. Ullamcorper morbi tincidunt ornare
										massa eget egestas purus viverra. Consectetur libero id
										faucibus nisl tincidunt eget nullam.</p>
								</div>
							</div>
						</div>
						<div class="card mb-3">
							<div class="card-header" role="tab" id="headingTwo">
								<a role="button" class="collapsed panel-title text-black"
									data-toggle="collapse" data-bs-toggle="collapse" data-core=""
									href="#collapse2_10" aria-expanded="false"
									aria-controls="collapse2">
									<h6 class="panel-title-edit mbr-fonts-style mb-0 display-7">
										<strong>What is CyberFirstaid?</strong>
									</h6> <span class="sign mbr-iconfont mbri-arrow-down"></span>
								</a>

							</div>
							<div id="collapse2_10" class="panel-collapse noScroll collapse"
								role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7">Arcu non
										sodales neque sodales ut etiam sit amet. Sit amet luctus
										venenatis lectus magna. Ullamcorper morbi tincidunt ornare
										massa eget egestas purus viverra. Consectetur libero id
										faucibus nisl tincidunt eget nullam.</p>
								</div>
							</div>
						</div>
						<div class="card mb-3">
							<div class="card-header" role="tab" id="headingThree">
								<a role="button" class="collapsed panel-title text-black"
									data-toggle="collapse" data-bs-toggle="collapse" data-core=""
									href="#collapse3_10" aria-expanded="false"
									aria-controls="collapse3">
									<h6 class="panel-title-edit mbr-fonts-style mb-0 display-7">
										<strong>Can I create my profile for register fir?</strong>
									</h6> <span class="sign mbr-iconfont mbri-arrow-down"></span>
								</a>
							</div>
							<div id="collapse3_10" class="panel-collapse noScroll collapse"
								role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7">Arcu non
										sodales neque sodales ut etiam sit amet. Sit amet luctus
										venenatis lectus magna. Ullamcorper morbi tincidunt ornare
										massa eget egestas purus viverra. Consectetur libero id
										faucibus nisl tincidunt eget nullam.</p>
								</div>
							</div>
						</div>
						<div class="card mb-3">
							<div class="card-header" role="tab" id="headingThree">
								<a role="button" class="collapsed panel-title text-black"
									data-toggle="collapse" data-bs-toggle="collapse" data-core=""
									href="#collapse4_10" aria-expanded="false"
									aria-controls="collapse4">
									<h6 class="panel-title-edit mbr-fonts-style mb-0 display-7">
										<strong>Is it secure and helpful?</strong>
									</h6> <span class="sign mbr-iconfont mbri-arrow-down"></span>
								</a>
							</div>
							<div id="collapse4_10" class="panel-collapse noScroll collapse"
								role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7">Arcu non
										sodales neque sodales ut etiam sit amet. Sit amet luctus
										venenatis lectus magna. Ullamcorper morbi tincidunt ornare
										massa eget egestas purus viverra. Consectetur libero id
										faucibus nisl tincidunt eget nullam.</p>
								</div>
							</div>
						</div>
						<div class="card mb-3">
							<div class="card-header" role="tab" id="headingThree">
								<a role="button" class="collapsed panel-title text-black"
									data-toggle="collapse" data-bs-toggle="collapse" data-core=""
									href="#collapse5_10" aria-expanded="false"
									aria-controls="collapse5">
									<h6 class="panel-title-edit mbr-fonts-style mb-0 display-7">
										<strong>My fir will be public of private?</strong>
									</h6> <span class="mbr-iconfont mobi-mbri-arrow-down mobi-mbri"></span>
								</a>
							</div>
							<div id="collapse5_10" class="panel-collapse noScroll collapse"
								role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7">Arcu non
										sodales neque sodales ut etiam sit amet. Sit amet luctus
										venenatis lectus magna. Ullamcorper morbi tincidunt ornare
										massa eget egestas purus viverra. Consectetur libero id
										faucibus nisl tincidunt eget nullam.</p>
								</div>
							</div>
						</div>
						<div class="card mb-3">
							<div class="card-header" role="tab" id="headingThree">
								<a role="button" class="collapsed panel-title text-black"
									data-toggle="collapse" data-bs-toggle="collapse" data-core=""
									href="#collapse6_10" aria-expanded="false"
									aria-controls="collapse6">
									<h6 class="panel-title-edit mbr-fonts-style mb-0 display-7">
										<strong>Is this fast and safe way to register fir?</strong>
									</h6> <span class="mbr-iconfont mobi-mbri-arrow-down mobi-mbri"></span>
								</a>
							</div>
							<div id="collapse6_10" class="panel-collapse noScroll collapse"
								role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7"></p>
									<p>Arcu non sodales neque sodales ut etiam sit amet. Sit
										amet luctus venenatis lectus magna. Ullamcorper morbi
										tincidunt ornare massa eget egestas purus viverra. Consectetur
										libero id faucibus nisl tincidunt eget
										nullam.&nbsp;&nbsp;&nbsp;&nbsp;</p>
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
