<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="officer/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<section data-bs-version="5.1" class="table" id="table"
		style="padding-right: 1rem; padding-left: 1rem; padding-top: 2rem; padding-bottom: 2rem">
		<div class="container">
			<div class="mbr-section-head">
				<h3
					class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>CaseFile Registered</strong>
				</h3>

			</div>
			<div class="row justify-content-center mt-4">
				<div class="col-lg-10">
					<div class="container">
						<h2 class="mt-3 text-center">
							<span th:text="${'CFNo'+casefile.casefile_id}" style="color: red"></span>
						</h2>
						<table class="table">
							<tbody>
								<tr>
									<th scope="row">Full Name (As per Identity card issued by
										Gov.)</th>
									<td><span th:text="${casefile.victim_name}"></span></td>
								</tr>
								<tr>
									<th scope="row">Father's/Husband's Name</th>
									<td><span th:text="${casefile.victim_relativename}"></span></td>
								</tr>
								<tr>
									<th scope="row">Date of Birth</th>
									<td><span th:text="${casefile.victim_birthdate}"></span></td>
								</tr>
								<tr>
									<th scope="row">Phone</th>
									<td><span th:text="${casefile.victim_mobile}"></span></td>
								</tr>
								<tr>
									<th scope="row">Nationality</th>
									<td><span th:text="${casefile.victum_nationality}"></span></td>
								</tr>
								<tr>
									<th scope="row">UID No.</th>
									<td><span th:text="${casefile.victum_uid_no}"></span></td>
								</tr>
								<tr>
									<th scope="row">Passport No.</th>
									<td><span th:text="${casefile.victum_passport}"></span></td>
								</tr>
								<tr>
									<th scope="row">Address</th>
									<td><span th:text="${casefile.victum_address}"></span></td>
								</tr>
								<tr>
									<th scope="row">District</th>
									<td><span th:text="${casefile.victum_district}"></span></td>
								</tr>
								<tr>
									<th scope="row">Police Station</th>
									<td><span th:text="${casefile.victum_ps}"></span></td>
								</tr>
								<tr>
									<th scope="row">Date of Occurrence</th>
									<td><span th:text="${casefile.occurrence_date}"></span></td>
								</tr>
								<tr>
									<th scope="row">Time of Occurrence</th>
									<td><span th:text="${casefile.occurrence_time}"></span></td>
								</tr>
								<tr>
									<th scope="row">Place of Occurrence</th>
									<td><span th:text="${casefile.occurrence_address}"></span></td>
								</tr>
								<tr>
									<th scope="row">Type of Crime</th>
									<td><span th:text="${casefile.type_of_cirme}"></span></td>
								</tr>
								<tr>
									<th scope="row">FIR Status</th>
									<td><span th:text="${casefile.fir_status}"
										style="color: red"></span></td>
								</tr>
							</tbody>
						</table>
						<div class="description text-center">
							<h4 class="mt-3 text-center" style="color: red">
								<span>Description</span>
							</h4>
							<th:block th:utext="${casefile.crime_disc}" />
						</div>
						<div>
							<h4 class="mt-3 text-center" style="color: red">
								<span>Proof</span>
							</h4>
							<center>
								<img src="" style="height: 200px; width: 300px;"
									class="my-profile-picture"
									th:src="@{'/images/'+${casefile.avidence_pic}}">
							</center>
						</div>
						<div class="container d-grid gap-2 col-6 mx-auto mt-3">
							<form
								th:action="@{'/officer/firUpdate/'+${casefile.casefile_id}}"
								method="post" class="d-grid">
								<button type="submit" class="btn btn-block btn-primary btn-sm">Update</button>
							</form>
						</div>
					</div>
				</div>
				<h1 class="text-center" th:unless="${casefile}">You don't have
					permission to see this contact...</h1>
			</div>
	</section>
</body>
</html>
