<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section data-bs-version="5.1"
		class="features21 cid-t0VBA7Cbu5 mbr-parallax-background"
		id="features22-y">
		<div class="mbr-overlay"
			style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					<div class="item mbr-flex">
						<div class="icon-box w-100">
							<span class="step-number mbr-fonts-style display-1">#about
								us</span>
						</div>
						<div class="text-box">
							<h4
								class="icon-title card-title mbr-black mbr-fonts-style display-2">
								<strong>About us</strong>
							</h4>
							<h5 class="icon-text mbr-black mbr-fonts-style display-7">Arcu
								non sodales neque sodales ut etiam sit amet. Sit amet luctus
								venenatis lectus magna.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="testimonials1 cid-t0W69POrbC"
		id="testimonials1-10">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-6">
					<div class="image-wrapper">
						<img src="assets/images/support-group.jpg"
							alt="Mobirise Website Builder">
					</div>
				</div>
				<div class="col-12 col-md">
					<div class="text-wrapper">
						<p class="mbr-text mbr-fonts-style mb-4 display-7">Arcu non
							sodales neque sodales ut etiam sit amet. Sit amet luctus
							venenatis lectus magna. Ullamcorper morbi tincidunt ornare massa
							eget egestas purus viverra. Consectetur libero id faucibus nisl
							tincidunt eget nullam. Massa enim nec dui nunc mattis enim ut.</p>
						<p class="name mbr-fonts-style mb-1 display-4">
							<strong>Jessica Brown</strong>
						</p>
						<p class="position mbr-fonts-style display-4">
							<strong>Client</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="form9 cid-t0UXx4Zavl"
		id="form9-t">

		<div class="mbr-overlay"></div>
		<div class="container">
			<div class="mbr-section-head">
				<h3
					class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Subscribe to us</strong>
				</h3>

			</div>
			<div class="row justify-content-center mt-4">
				<div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
					<form action="https://mobirise.eu/" method="POST"
						class="mbr-form form-with-styler mx-auto"
						data-form-title="Form Name">
						<input type="hidden" name="email" data-form-email="true"
							value="zT0vxKKARVaBaqtO7fJTx3ArYeSZJVXtcfRtWgHDMV3ConIQSJKc2/g4jILec1Qf0RK6jYNnvDIG/bl/yXmItUFYz6zhnX8BB6mtV0Tv7yXOmuBnfyuHSq/poMd/0B2M">
						<div class="row">
							<div hidden="hidden" data-form-alert=""
								class="alert alert-success col-12">Thanks for filling out
								the form!</div>
							<div hidden="hidden" data-form-alert-danger=""
								class="alert alert-danger col-12">Oops...! some problem!</div>
						</div>
						<div class="dragArea row">
							<div class="col-lg-12">
								<p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
									Exclusive offers in your inbox</p>
							</div>
							<div class="col-lg-4 col-md-12 col-sm-12 form-group mb-3"
								data-for="name">
								<input type="text" name="name" placeholder="Name"
									data-form-field="name" class="form-control" value=""
									id="name-form9-t">
							</div>
							<div data-for="email"
								class="col-lg-4 col-md-12 col-sm-12 form-group mb-3">
								<input type="email" name="email" placeholder="Email"
									data-form-field="email" class="form-control" value=""
									id="email-form9-t">
							</div>
							<div
								class="col-lg-4 col-md-12 col-sm-12 mbr-section-btn align-center">
								<button type="submit" class="btn btn-primary display-4">Submit</button>
							</div>
						</div>
						<span class="gdpr-block"> <label> <span
								class="textGDPR display-7" style="color: #a7a7a7"><input
									type="checkbox" name="gdpr" id="gdpr-form9-t" required="">By
									continuing you agree to our <a
									style="color: #149dcc; text-decoration: none;"
									href="terms.html">Terms of Service</a> and <a
									style="color: #149dcc; text-decoration: none;"
									href="policy.html">Privacy Policy</a>.</span>
						</label>
						</span>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="content6 cid-t0W66rRCRj"
		id="content6-z">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<hr class="line">
					<p class="mbr-text align-center mbr-fonts-style my-4 display-5">Arcu
						non sodales neque sodales ut etiam sit amet. Sit amet luctus
						venenatis lectus magna.&nbsp;</p>
					<hr class="line">
				</div>
			</div>
		</div>
	</section>
</body>
</html>