<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section data-bs-version="5.1" class="form6 cid-t1d9Sy2gXG"
		id="form6-1v" style="padding-right:1rem;padding-left:1rem;">
		<div class="container">
			<div class="mbr-section-head">
				<h3
					class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Officer Login</strong>
				</h3>

			</div>
			<div class="row justify-content-center mt-4">
				<div class="col-lg-8 mx-auto mbr-form">
					<form th:action="@{/dologin}" action="#" method="POST"
						class="mbr-form form-with-styler mx-auto">
						<div th:if="${param.error}" class="alert alert-danger">
							Invalid username & password!!</div>
						<div th:if="${param.logout}" class="alert alert-success">Logout
							Successful</div>
						<div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3"
							data-for="email">
							<input type="email" name="username" placeholder="Email"
								data-form-field="email" class="form-control" value=""
								id="email-form6-1v">
						</div>
						<div data-for="phone"
							class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
							<input type="password" name="password" placeholder="Password"
								data-form-field="phone" class="form-control" value=""
								id="phone-form6-1v">
						</div>
						<div class="col-auto mbr-section-btn align-center">
							<button type="submit" class="btn btn-primary display-4">Submit</button>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
							<a href="officer_log">Not have an account? Sign up here</a>
						</div>
				</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>